<!-- <div class="box1">
  <div class="content1"><p>内容1</p></div>
  <div class="content2"><p>内容2</p></div>
  <div class="content3"><p>内容3</p></div>
  <div class="content4"><p>内容4</p></div>
  <div class="content5"><p>内容5</p></div>
  <div class="content6"><p>内容6</p></div>
  <div class="content7"><p>内容7</p></div>
  <div class="content8"><p>内容8</p></div>
  <div class="content9"><p>内容9</p></div>
</div> -->

<!-- <div class="box2">
  <div class="item">内容1</div>
  <div class="item">内容2</div>
  <div class="item">内容3</div>
</div> -->

<div class="box3">
  <div class="fn" (click)="arrowFn()">测试箭头函数</div>
  <div id="practice" class="practice" (click)="practiceFn()">箭头函数实践</div>
</div>

<script>
  let practice = document.getElementById('practice');
  // 绑定事件
  practice.addEventListener("click", function(){
    console.log('dddd')
    setTimeout(() => {
      this.style.background = 'pink'
    }, 2000)
  })
</script>

